html, body {
    font-size: 12px;
    font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
}

@media (min-width: 800px) {
    html, body {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    html, body {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    html, body {
        font-size: 18px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgba(0, 114, 198, 0.75);
}

footer {

}

main {
    padding-top: 40px;
}

.header--inner, .main--content, .footer--inner {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .header--inner, .main--content, .footer--inner {
        width: 62%;
    }
}

@media (min-width: 1400px) {
    .header--inner, .main--content, .footer--inner {
        width: 50%;
    }
}

section, article {
    font-size: 1.33rem;
    padding: 0 1.33rem;
}

@media (min-width: 800px) {
    section, article {
        padding: 0 1.7689rem;
    }
}

@media (min-width: 1200px) {
    section, article {
        padding: 0 2.35264rem;
    }
}

@media (min-width: 1600px) {
    section, article {
        padding: 0 3.12901rem;
    }
}

.main--content p {
    padding: 0 0 1.7689rem;
    margin: 0;
    font-size: 1.33rem;
    line-height: 1.4;
}

.main--content h1 {
    font-size: 3.12901rem;
    text-align: center;
    line-height: 1.25;
    font-weight: 300;
    margin: 0;
    padding: 1.618rem 0 1.618rem;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    hyphens: manual;
    letter-spacing: -1px;
}

@media (min-width: 800px) {
    .main--content h1 {
        padding: 2.61792rem 1.7689rem 2.61792rem;
    }
}

@media (min-width: 1200px) {
    .main--content h1 {
        padding: 2.61792rem 2.35264rem 2.61792rem;
    }
}

@media (min-width: 1600px) {
    .main--content h1 {
        padding: 2.61792rem 3.12901rem 2.61792rem;
    }
}

.header--links {
    list-style: none;
    padding: 0 1.33rem;
}

.header--links li {
    display: inline-block;
}

.header--links a {
    height: 40px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 0 1rem;
}

.header--links a:hover {
    background-color: rgba(0, 100, 173, 0.498039);
}

.header--links-left {
    float: left;
}

.header--links-right {
    float: right;
}

.row {
    margin-left: -1.33rem;
    margin-right: -1.33rem;
}

.row::after {
    content: "";
    display: table;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 1.33rem;
    padding-left: 1.33rem;
    float: left;
    box-sizing: border-box;
}

.col-1::after, .col-2::after, .col-3::after, .col-4::after, .col-5::after, .col-6::after, .col-7::after, .col-8::after, .col-9::after, .col-10::after, .col-11::after, .col-12::after,
.col-sm-1::after, .col-sm-2::after, .col-sm-3::after, .col-sm-4::after, .col-sm-5::after, .col-sm-6::after, .col-sm-7::after, .col-sm-8::after, .col-sm-9::after, .col-sm-10::after, .col-sm-11::after, .col-sm-12::after,
.col-md-1::after, .col-md-2::after, .col-md-3::after, .col-md-4::after, .col-md-5::after, .col-md-6::after, .col-md-7::after, .col-md-8::after, .col-md-9::after, .col-md-10::after, .col-md-11::after, .col-md-12::after,
.col-lg-1::after, .col-lg-2::after, .col-lg-3::after, .col-lg-4::after, .col-lg-5::after, .col-lg-6::after, .col-lg-7::after, .col-lg-8::after, .col-lg-9::after, .col-lg-10::after, .col-lg-11::after, .col-lg-12::after {
    content: "";
    display: table;
    clear: both;
}

.col-1, .col-sm-1, .col-md-1, .col-lg-1 {
    width: 8.333333333%;
    width: calc(100% / 12);
}
.col-2, .col-sm-2, .col-md-2, .col-lg-2 {
    width: 16.66666666%;
    width: calc(100% / 12 * 2);
}
.col-3, .col-sm-3, .col-md-3, .col-lg-3 {
    width: 24.99999999%;
    width: calc(100% / 12 * 3);
}
.col-4, .col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333332%;
    width: calc(100% / 12 * 4);
}
.col-5, .col-sm-5, .col-md-5, .col-lg-5 {
    width: 41.66666665%;
    width: calc(100% / 12 * 5);
}
.col-6, .col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
}
.col-7, .col-sm-7, .col-md-7, .col-lg-7 {
    width: 58.33333331%;
    width: calc(100% / 12 * 7);
}
.col-8, .col-sm-8, .col-md-8, .col-lg-8 {
    width: 41.66666665%;
    width: calc(100% / 12 * 8);
}
.col-9, .col-sm-9, .col-md-9, .col-lg-9 {
    width: 41.66666665%;
    width: calc(100% / 12 * 9);
}
.col-10, .col-sm-10, .col-md-10, .col-lg-10 {
    width: 41.66666665%;
    width: calc(100% / 12 * 10);
}
.col-11, .col-sm-11, .col-md-11, .col-lg-11 {
    width: 41.66666665%;
    width: calc(100% / 12 * 11);
}
.col-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        width: 100%;
    }
}